@mixin decorationStyles {
  position: absolute;
  z-index: -1;
}

.decorationWater {
  @include decorationStyles;
  right: 10%;
  top: 5%;
}

.decorationCircle {
  @include decorationStyles;
  left: 2%;
  bottom: 15%;
}

.decorationSquare {
  @include decorationStyles;
  left: 12%;
  bottom: 0%;
}

.decorationHalfCircle {
  @include decorationStyles;
  left: 12%;
  bottom: 50%;
}
