.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 8rem;
  min-height: 940px;
}

.tabsContainer {
  margin: 0 auto;
}
