$screenXs: 0;
$screenSm: 600px;

.root {
  display: flex;
  padding: 3rem 0;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  &[hidden] {
    display: none;
  }
  @media screen and (max-width: $screenSm) {
    flex-direction: column;
    justify-content: flex-start;
    min-height: 800px;
  }
}

.tabPanelImg {
  width: 100%;
}

.tabPanelImgContainer {
  width: 40%;
  @media screen and (max-width: $screenSm) {
    width: 50%;
    height: auto;
    margin-bottom: 1rem;
    min-height: 230px;
  }
  @media screen and (max-width: $screenXs) {
    width: 90%;
  }
}

.textContent {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400px;
  letter-spacing: 0.00938em;
  line-height: 1.5;
  width: 40%;
  padding-left: 3rem;
  color: rgba(0, 0, 0, 0.54);
  background: #fff;
  & a {
    color: #2196f3;
  }

  @media screen and (max-width: $screenSm) {
    width: 90%;
    padding-top: 1rem;
  }
}
