/* =====================================
 Base Element Styles
===================================== */

* {
    box-sizing: border-box;
}

/* #root {
    margin-left: 0 auto;
    margin-right: 0 auto;

} */

body {
    font-family: 'Poppins', 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 26px;
    color: rgb(43, 43, 43);
    background-color: #ffff;
    font-size: 16px
}

h1 {
    font-size: 2.5em; /*40px*/
    font-weight: 600;
}

h2 {
    font-size: 1.875em; /*30px*/
    font-weight: 400;
}

h3 {
    font-size: 1.25em; /*20px*/
    font-weight: 400;
}

p {
    font-weight: 300;
    color: #808080;
}

section {
}

/* =====================================
 Base Layout Styles
===================================== */

/* --------- Layout Containers --------- */

#navbar {
    background-color: #0063F5;
}

/* --------- Page Elements --------- */

#navbar a{
    color: #E6EFFE;
}

#navbar .navbar-toggler {
    outline: none;
    border: none;
}

.navbar-toggler-icon {
    background-image: url("../imgs/utilities/Menu.svg") !important;
}

#main-header{
    background: #0063F5;
    padding-top: 6.875em;
    padding-bottom: 6.875em;
}

.main-header-img {
    width: 100%;
}

.main-header-text {
    color: white;
    margin: auto;
}

.main-header-text p {
    color: #7AAFFF;
}

.card-deck {
    width: 90%;
    margin: 0 auto;
}

.project-tech-icons {
    width: 30px;
}
/* --------- Pseudo Elements --------- */

/* =====================================
 Media Queries
===================================== */

/* ---- Medium Screen 350px (tablet)---- */
@media(min-width:350px) {
    .card-deck {
        width: 80%;
    }

}

/* ---- 768px and larger(desktop)---- */

@media(min-width:768px) {
    .card-deck {
        width: 70%;
    }

    h1 {
        font-size: 4.375em; /*70px*/
    }
    
    h2 {
        font-size: 3em; /*48px*/
    }
    
    h3 {
        font-size: 2.375em; /*38px*/
    }
    
    p {
        font-size: 1em;
    }

}