@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'emerald';
  default: false;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0.013 236.62);
  --color-base-300: oklch(95% 0.026 236.824);
  --color-base-content: oklch(44% 0.03 256.802);
  --color-primary: oklch(62% 0.214 259.815);
  --color-primary-content: #f9fafb;
  --color-secondary: oklch(58% 0.233 277.117);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(62% 0.265 303.9);
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: oklch(20% 0.042 265.755);
  --color-neutral-content: oklch(98.462% 0.001 247.838);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(98% 0.003 247.858);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.003 247.858);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(100% 0 0);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
