$screenXs: 0;
$screenSm: 600;
$screenMd: 960;
$screenLg: 1280;
$screenXl: 1920;

:export {
  $screenXs: $screenXs;
  $screenSm: $screenSm;
  $screenMd: $screenMd;
  $screenLg: $screenLg;
  $screenXl: $screenXl;
}
