.contactSection {
  padding-top: 4rem;
  position: relative;
  padding-bottom: 18rem;
  background: url(/images/decorations/contact-section-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.backToTopButton {
  position: absolute;
  bottom: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.contactBox {
  background: linear-gradient(
    164deg,
    rgba(255, 255, 255, 1) 74%,
    rgba(248, 252, 255, 1) 74%
  );
  width: 90%;
  max-width: 1200;
  margin: 0 auto;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 6rem 0;
}

.contactButtonGroup {
  margin: 3rem auto;
  display: flex;
  justify-content: space-around;
  width: 50%;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
  & img {
    max-height: 60px;
    margin-bottom: 1rem;
    @media screen and (max-width: 600px) {
      max-height: 40px;
    }
  }
}
