$screenSm: 600px;

.header {
  background: #0063f5;
  padding-top: 10rem;
  padding-bottom: 12rem;
  background-image: url(/images/main-header-decoration.png);
  background-size: cover;
}

.headerContentWrapper {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media screen and (max-width: $screenSm) {
    flex-direction: column;
  }
}

.headerImage {
  width: 40%;
  height: 100%;
  & > img {
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width: $screenSm) {
    width: 80%;
  }
}

.headerText {
  width: 40%;
  color: #fff;
  & > p {
    color: #b6d3ff;
    font-size: 1.2rem;
  }
  & > h1 {
    font-size: 5rem;
  }
  & > h5 {
    font-size: 1.5rem;
  }
  & > button a {
    color: #fff;
    text-decoration: none;
  }
  @media screen and (max-width: $screenSm) {
    margin-bottom: 5rem;
    width: 80%;
  }
}
