.root {
  padding: 6rem 0 8rem;
  background-color: #f7f7ff;
  text-align: center;
  margin-bottom: 3rem;
}

.sliderComponent {
  & > button {
    background: rgb(185, 185, 185) !important;
    border-radius: 50%;
    margin: 0 1rem;
  }
}

.reviewContainer {
  padding: 20px;
  margin: 20px;
  color: rgba(0, 0, 0, 0.736);
}

.reviewPersonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.reviewPersonAvatar {
  margin-right: 1rem;
}

.reviewPersonLink {
  color: rgb(7, 121, 227);
  font-size: 20px;
  &:hover {
    cursor: pointer;
  }
}
